[submodule "contrib/solver_wrappers"]
	path = contrib/solver_wrappers
	url = https://github.com/datafl4sh/solver_wrappers.git
	branch = master
[submodule "meshes"]
	path = meshes
	url = https://github.com/datafl4sh/meshes.git
    branch = master
[submodule "contrib/sol2"]
	path = contrib/sol2
	url = https://github.com/ThePhD/sol2
[submodule "contrib/gmsh_tools"]
	path = contrib/gmsh_tools
	url = https://github.com/npaster/gmsh_tools
[submodule "contrib/eigen"]
	path = contrib/eigen
	url = https://gitlab.com/libeigen/eigen.git
