[submodule "libdiskpp/contrib/highfive"]
	path = libdiskpp/contrib/highfive
	url = https://github.com/highfive-devs/highfive.git
[submodule "libdiskpp/contrib/sol2"]
	path = libdiskpp/contrib/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "libdiskpp/contrib/gmsh_tools"]
	path = libdiskpp/contrib/gmsh_tools
	url = https://github.com/datafl4sh/gmsh_tools.git
[submodule "libdiskpp/contrib/sgr"]
	path = libdiskpp/contrib/sgr
	url = https://github.com/datafl4sh/sgr.git
